<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.shop.dao.GoodsListDao">
	
	<select id="selectForPage" resultType="com.shop.model.Goods" >
		SELECT
			id, `name`, t.caption, t.image, t.price, t.market_price, 
			t.sales, t.score, t.create_date, t.is_top
		FROM
			tbl_goods t
		<where>
			<if test="@com.shop.util.Ognl@isNotEmpty(keyword)">
				(
					`name` LIKE '%${keyword}%'
					OR introduction LIKE '%${keyword}%'
					OR sn LIKE '%${keyword}%'
					OR keyword LIKE '%${keyword}%'
				)
			</if>
			<if test="@com.shop.util.Ognl@isNotEmpty(startPrice)" >
				AND price >= #{startPrice}
			</if>
			<if test="@com.shop.util.Ognl@isNotEmpty(endPrice)" >
				AND price &lt;= #{endPrice}
			</if>
			<if test="@com.shop.util.Ognl@isNotEmpty(brandId)" >
				AND brand = #{brandId}
			</if>
		</where>
	</select>
	
	<select id="list" resultType="com.shop.model.Goods" >
		SELECT
			g.id, g.`name`, g.caption, g.image, g.price, g.market_price, 
			g.sales, g.score, g.create_date, g.is_top
		FROM
			tbl_goods g
		LEFT JOIN tbl_product_category p ON g.product_category = p.id
		<where>
			(p.tree_path LIKE '${treePath}%' or p.id = #{productCategoryId})
			<if test="@com.shop.util.Ognl@isNotEmpty(keyword)">
				AND (
					`name` LIKE '%${keyword}%'
					OR introduction LIKE '%${keyword}%'
					OR sn LIKE '%${keyword}%'
					OR keyword LIKE '%${keyword}%'
				)
			</if>
			<if test="@com.shop.util.Ognl@isNotEmpty(startPrice)" >
				AND price >= #{startPrice}
			</if>
			<if test="@com.shop.util.Ognl@isNotEmpty(endPrice)" >
				AND price &lt;= #{endPrice}
			</if>
			<if test="@com.shop.util.Ognl@isNotEmpty(brandId)" >
				AND g.brand = #{brandId}
			</if>
			<if test="@com.shop.util.Ognl@isNotEmpty(attributeValue0)" >
				AND g.attribute_value0 = #{attributeValue0}
			</if>
			<if test="@com.shop.util.Ognl@isNotEmpty(attributeValue1)" >
				AND g.attribute_value1 = #{attributeValue1}
			</if>
			<if test="@com.shop.util.Ognl@isNotEmpty(attributeValue2)" >
				AND g.attribute_value2= #{attributeValue2}
			</if>
			<if test="@com.shop.util.Ognl@isNotEmpty(attributeValue3)" >
				AND g.attribute_value3 = #{attributeValue3}
			</if>
		</where>
	</select>

</mapper>

